<div class="page-wrapper">
  <div class="clr">
    <div class="col-md-5 align-self-center">
      <h3 class="title">Gestion Des Ventes</h3>
    </div>
  </div>
  <ul class="nav nav-tabs cls">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/produit">Produit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/fournisseur">Fournisseur</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/client">Client</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
