<div class="page-wrapper">
    <div class="clr">
        <div class="col-md-5 align-self-center">
            <h3 class="title">Gestion Des Ventes</h3>
        </div>
        <div class="col-md-7 align-self-center">

            <form class="">
                <a class=""><i class="mdi mdi-account-search"></i></a>
            </form>

            
        </div>
    </div>
    <ul class="nav nav-tabs cls">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/produit">Produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fournisseur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Droit</a>
        </li>
       
      </ul>
    

     <div class="container ajout">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nom produit</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nom Produit">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nom court Produit</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="court">
              </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">prix de base du produit</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="prix de base du produitt">
            </div>

            <div class="form-group col-md-6">
              <label for="inputAddress2"> prix de vente du produit</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder=" prix de vente du produit">
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-3">
                <label for="inputAddress2">  seuil max de remise du produit,</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder=" seuil max de remise du produit,">
              </div>
              <div class="form-group col-md-3">
                <label for="inputAddress2">  Quantite</label>
                <input type="number" class="form-control" id="inputAddress2" placeholder=" Quantite">
              </div>
        </div>
           
           
        
            <button type="submit" class="btn btn-primary">Ajouter Produit</button>
          </form>   
     </div>
</div>


