
<div class="page-wrapper">


    <div class="clr">
        <div class="col-md-5 align-self-center">
            <h3 class="title">Gestion Des Ventes</h3>
        </div>
        <div class="col-md-7 align-self-center">

            <form class="">
                <a class=""><i class="mdi mdi-account-search"></i></a>
            </form>

            
        </div>
    </div>
    <ul class="nav nav-tabs cls">
        <li class="nav-item">
          <a class="nav-link active" href="#">ajouter</a>
        </li>
      
       
      </ul>

  
</div>


